@mixin threedshadow($color, $depth) {
  $all: ();
  $all: append($all, 0 0 0.5em currentColor);
  @for $i from 1 through $depth {
    $all: append(
      $all,
      append($i * 1px $i * 1px 0, darken($color, $i + 14%)),
      comma
    );
  }
  text-shadow: $all;
}

@mixin sun($color) {
  $all: ();

  $y: 0;
  $width: 1;
  @while $y < 50 {
    $all: append($all, $color (50% + $y * 1%));
    $all: append($all, transparent (50% + $y * 1%));
    $all: append($all, transparent (50% + $y * 1% + $width));
    $all: append($all, $color (50% + $y * 1% + $width));
    $y: $y + $width + 5;
    $width: $width + 1;
  }
  background-image: linear-gradient(join($all, (), $separator: comma));
}
