<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Cast
  body#cast
    video#bg(src="./assets/background.webm", autoplay, loop)
    #header
      span Play music for best experience:&nbsp;
      audio(src="./assets/song.ogg", autoplay, loop, controls)
      .grow
      h1: a(href="./index.pug") Home
      h1: a(href="./trailer.pug") Trailer
      h1: a(href="./sinopsis.pug") Sinopsis
      h1: a(href="./cast.pug") Cast
      h1: a(href="./gallery.pug") Gallery
      h1: a(href="./reviews.pug") Reviews
    h1 Cast
    main
      section
        .photo
          img.shown(src="./assets/cast/mike.jpg", alt="Mike Myers")
          img.hidden(src="./assets/characters/shrek.jpg", alt="Shrek")
          h3.shown MIKE
        aside
          .name
            h2.shown MYERS
            h2.hidden SHREK
          .desc
            p.shown Known for his great role as Austin Powers, the amazing comedian debuts on his first animated film as Shrek.
            p.hidden A grumpy green ogre, Shrek just wants to be left alone, or does he? It might turn out that ogres, just like onions, have more layers than you might think.
      section
        .photo
          img.shown(src="./assets/cast/eddie.jpg", alt="Eddie Murphy")
          img.hidden(src="./assets/characters/donkey.jpg", alt="Donkey")
          h3.shown EDDIE
        aside
          .name
            h2.shown MURPHY
            h2.hidden DONKEY
          .desc
            p.shown Considered as one of the greatest standup comedians of all time, this actor is well known for his wit and character.
            p.hidden Shrek's clingy sidekick, this magical donkey has the ability to speak, but it's getting him to shut up that's the trick.
      section
        .photo
          img.shown(src="./assets/cast/cameron.jpg", alt="Cameron Diaz")
          img.hidden(src="./assets/characters/fiona.jpg", alt="Princess Fiona")
          h3.shown CAMERON
          h3.hidden PRINCESS
        aside
          .name
            h2.shown DIAZ
            h2.hidden FIONA
          .desc
            p.shown A jack of many trades, this model has acted in both comedy and drama films, making her one of the highest-grossing U.S. actresses.
            p.hidden Waiting for his knight to rescue her from a terrifying castle, Princess Fiona will not get what she expected, but maybe deep down that might be what she wanted all along.
      section
        .photo
          img.shown(src="./assets/cast/john.jpg", alt="John Lithgow")
          img.hidden(src="./assets/characters/e.jpg", alt="Lord Farquaad")
          h3.shown JOHN
          h3.hidden LORD
        aside
          .name
            h2.shown LITHGOW
            h2.hidden FARQUAAD
          .desc
            p.shown Two-time Golden Globe winner, this actor, musician, poet, author, and singer always steals the show.
            p.hidden Tiranical dictator of the kingdom of Duloc, people of Farquaad's stature are on <i>short</i> supply.
