#cast {
  main {
    display: flex;
    flex-direction: column;
    max-width: 50ch;
  }

  section {
    margin: 0.5em;
    display: flex;
    background: rgba(black, 0.5);

    .photo,
    .name,
    .desc {
      position: relative;
    }

    .photo {
      img.hidden {
        position: absolute;
        left: 0;
        top: 0;
      }

      h3 {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .name h2.hidden {
      position: absolute;
      left: 0;
      top: 0;
    }

    .desc p.hidden {
      position: absolute;
      left: 0;
      top: 0;
    }

    p {
      margin: 0.5rem;
    }

    h2,
    h3 {
      margin: 0;
      line-height: 1em;
    }

    img {
      height: 10em;
    }

    h3 {
      color: white;
      text-shadow: 0 0 10px black;
    }

    h2 {
      margin: 0.5rem 0.5rem 0;
      font-size: 3em;
    }

    .hidden {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    * {
      transition: opacity 0.5s ease-in-out;
    }

    &:hover {
      .hidden {
        opacity: 1;
      }

      .shown {
        opacity: 0;
      }
    }
  }
}
