@font-face {
  font-family: "Streamster";
  src: url(./assets/streamster.ttf);
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: safe center;

  height: 100vh;
  margin: 0;

  background: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#bg {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100vw;
  height: 5em;
  padding: 1em;

  background: rgba(black, 0.5);

  h1 {
    font-size: 2em;
    margin: 0 1em 0;
  }
}

h1 {
  font-family: Streamster;
  font-size: 4em;
  color: #ff5555;
  text-shadow: 0 0 0.5em #ff5555, 0 0 0.5em #ff5555;
  margin: 1rem;
}

.grow {
  flex-grow: 1;
}
