<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Gallery
  body#gallery
    video#bg(src="./assets/background.webm", autoplay, loop)
    #header
      span Play music for best experience:&nbsp;
      audio(src="./assets/song.ogg", autoplay, loop, controls)
      .grow
      h1: a(href="./index.pug") Home
      h1: a(href="./trailer.pug") Trailer
      h1: a(href="./sinopsis.pug") Sinopsis
      h1: a(href="./cast.pug") Cast
      h1: a(href="./gallery.pug") Gallery
      h1: a(href="./reviews.pug") Reviews
    h1 Gallery
    main
      figure
        img(src="./assets/gallery/shrek_outhouse.jpg", alt="Shrek exits his outhouse")
        figcaption Shrek exits his outhouse.
      figure
        img(src="./assets/gallery/shrek_mud_bath.jpg", alt="Shrek takes his morning mud bath")
        figcaption Shrek takes his morning mud bath.
      figure
        img(src="./assets/gallery/shrek_roar.jpg", alt="Shrek's slobbering ogre roar")
        figcaption Shrek's slobbering ogre roar.
      figure
        img(src="./assets/gallery/donkey_meets_shrek.jpg", alt="Donkey accidentally bumps into Shrek")
        figcaption Donkey accidentally bumps into Shrek.
      figure
        img(src="./assets/gallery/shrek_donkey_laugh.jpg", alt="Shrek and Donkey laugh histerically")
        figcaption Shrek and Donkey laugh histerically.
      figure
        img(src="./assets/gallery/donkey_ruins_moment.jpg", alt="Donkey ruins the moment")
        figcaption Donkey ruins the moment.
      figure
        img(src="./assets/gallery/shrek_donkey_handshake.jpg", alt="Shrek and Donkey become friends")
        figcaption Shrek and Donkey become friends.
