#gallery {
  main {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 1em;
    background: rgba(black, 0.5);
  }

  figcaption {
    padding: 1em;
    text-align: center;
  }

  img {
    pointer-events: none;
    object-fit: contain;
    width: 38ch;
  }
}
