@import "functions";

@font-face {
  font-family: "Commando";
  src: url(./assets/commando.ttf);
}

#index {
  perspective: 100vmin;
  overflow: hidden;
  justify-content: flex-end;

  * {
    box-sizing: border-box;
  }

  $grid-size: 4em;
  $grid-width: 0.5em;

  @keyframes grid-movement {
    to {
      background-position-y: $grid-size;
    }
  }

  #grid {
    z-index: -1;
    position: absolute;
    left: -50vw;
    top: -50vh;
    width: 200vw;
    height: 200vh;

    border-top: $grid-width * 2 solid cyan;
    background-image: repeating-linear-gradient(
        transparent,
        transparent $grid-size - $grid-width,
        cyan $grid-size - $grid-width,
        cyan $grid-size
      ),
      repeating-linear-gradient(
        to right,
        transparent,
        transparent $grid-size - $grid-width,
        cyan $grid-size - $grid-width,
        cyan $grid-size
      );
    transform: rotateX(80deg);
    animation: grid-movement 1s infinite linear;
  }

  #sun {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
    position: absolute;
    top: calc(50vh - 50vmin);
    width: 50vmin;
    height: 50vmin;

    @include sun(#ffd828);
    border-radius: 100%;
    text-align: center;
  }

  h1 {
    margin: 0.3em 0 0;

    font-family: Streamster;
    font-size: 10em;
    color: #ff5555;
    text-shadow: 0 0 0.5em #ff5555, 0 0 0.5em #ff5555;
  }

  h2 {
    margin: 0.25em 0;

    font-family: Commando;
    font-size: 3em;
    color: #ff55ff;
    -webkit-text-stroke: #5555ff 0.03em;
    @include threedshadow(#5555ff, 5);
  }

  a:visited {
    -webkit-text-stroke: #5555ff 0.03em;
  }

  #trailer {
    cursor: pointer;
  }

  #video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: rgba(black, 0.75);
  }
}
