<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Shrek
  body#index
    #sun
      h1 Shrek
    #grid
    #header
      .grow
      span Play music for best experience:&nbsp;
      audio(src="./assets/song.ogg", autoplay, loop, controls)
      .grow
    h2: a(href="./trailer.pug") Trailer
    h2: a(href="./sinopsis.pug") Sinopsis
    h2: a(href="./cast.pug") Cast and Crew
    h2: a(href="./gallery.pug") Gallery
    h2: a(href="./reviews.pug") Reviews
