#reviews {
  main {
    display: flex;
    flex-direction: column;
  }

  article {
    margin: 1em;
    padding: 1em;
    background: rgba(black, 0.5);

    &:nth-child(odd) {
      margin-right: 25%;
    }

    &:nth-child(even) {
      margin-left: 25%;
    }

    p {
      font-style: italic;
      text-align: center;
    }
  }

  h2 {
    margin: 0 0 1em;
  }

  .green {
    color: #55ff55;
  }

  .red {
    color: #ff5555;
  }
}
