<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Reviews
  body#reviews
    video#bg(src="./assets/background.webm", autoplay, loop)
    #header
      span Play music for best experience:&nbsp;
      audio(src="./assets/song.ogg", autoplay, loop, controls)
      .grow
      h1: a(href="./index.pug") Home
      h1: a(href="./trailer.pug") Trailer
      h1: a(href="./sinopsis.pug") Sinopsis
      h1: a(href="./cast.pug") Cast
      h1: a(href="./gallery.pug") Gallery
      h1: a(href="./reviews.pug") Reviews
    h1 Reviews
    main
      article
        h2 <span class="green">88%</span> Rotten Tomatoes
        p While simultaneously embracing and subverting fairy tales, the irreverent Shrek also manages to tweak Disney's nose, provide a moral message to children, and offer viewers a funny, fast-paced ride.
      article 
        h2 <span class="green">4/4</span> Roger Ebert
        p Jolly and wicked, filled with sly in-jokes and yet somehow possessing a heart.
      article
        h2 <span class="green">3.5/4</span> ReelViews
        p Shrek is not a guilty pleasure for sophisticated movie-goers; it is, purely and simply, a pleasure.
      article
        h2 <span class="red">0/10</span> Disney
        p This movie makes me look bad and I don't like that.