<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Sinopsis
  body#sinopsis
    video#bg(src="./assets/background.webm", autoplay, loop)
    #header
      span Play music for best experience:&nbsp;
      audio(src="./assets/song.ogg", autoplay, loop, controls)
      .grow
      h1: a(href="./index.pug") Home
      h1: a(href="./trailer.pug") Trailer
      h1: a(href="./sinopsis.pug") Sinopsis
      h1: a(href="./cast.pug") Cast
      h1: a(href="./gallery.pug") Gallery
      h1: a(href="./reviews.pug") Reviews
    h1 Sinopsis
    main
      img(src="./assets/poster.jpg", alt="Poster")
      p In this thrilling 3D animated comedy adventure, the grumpy ogre Shrek has to go in the quest of a lifetime to get his swamp back, and maybe, just maybe, find friendship and love along the way.
      p Subverting common tropes about fantasy films for kids, Shrek tells the tale of an unlikely hero, rising to the occasion and saving the day.
      p With the voice talents of Mike Myers and Eddie Murphy, Shrek is an endless waterfall of great jokes and an interesting story, one you have never seen before in any other fairy tale.
