#sinopsis {
  justify-content: center;

  main {
    max-width: 55ch;
    background: rgba(black, 0.5);
    text-align: justify;
  }

  img {
    float: left;
    height: 20em;
    margin: 1em;
  }

  p {
    margin: 1em;
  }
}
