<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.scss")
    title Trailer
  body#trailer
    #header
      .grow
      h1: a(href="./index.pug") Home
      h1: a(href="./trailer.pug") Trailer
      h1: a(href="./sinopsis.pug") Sinopsis
      h1: a(href="./cast.pug") Cast
      h1: a(href="./gallery.pug") Gallery
      h1: a(href="./reviews.pug") Reviews
      .grow
    video.grow(src="./assets/trailer.mp4", controls, autoplay)
